.animae {
  //   width: 100px;
  //   height: 100px;
  color: red;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}
